.question {
    text-align: center;
  }
  
  .answers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body{
    background-color: #90eaff;
  }

  .titulo{
    font-family: sans-serif;
  }
  
  
  .answer {
    background-color: #f5f5f7;
    font-family: sans-serif;
    width: 400px; 
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    -webkit-transition:background-color 0.3s ease-in; 
    -moz-transition:background-color 0.3s ease-in; 
    -o-transition:background-color 0.3s ease-in; 
    transition:background-color 0.3s ease-in; 
    
  }
  
.answer:hover {
  background-color: #b1b1b5;
}
  
  
  .wrong {
    background-color: red; 
  }

  .rounded {
    width: 50%;
    height: 30% ;
  }
  
